.wrapper {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    color: #0f172a;
    border: 1px solid #e2e8f0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.tableWrap {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background: #f8fafc;
}

.table th {
    padding: 14px;
    font-size: 13px;
    text-align: left;
    color: #64748b;
    font-weight: 600;
}

.table td {
    padding: 14px;
    border-bottom: 1px solid #f1f5f9;
    font-size: 14px;
}

.amount {
    font-weight: 600;
}

.paid {
    background: #16a34a33;
    color: #22c55e;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
}

.mode {
    background: #1e3a8a33;
    color: #60a5fa;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
}

.date {
    color: #64748b;
}

.dateHead {
    display: flex;
    gap: 6px;
    align-items: center;
}

.actionCell {
    position: relative;
}

.actionBtn {
    background: transparent;
    border: none;
    color: #475569;
    cursor: pointer;
    font-size: 18px;
}

.actionMenu {
    position: absolute;
    right: 0;
    top: 28px;
    background: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    padding: 6px;
    display: flex;
    gap: 6px;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.actionMenu button {
    background: #f8fafc;
    border: none;
    color: #475569;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
}

.actionMenu button:hover {
    background: #3b82f6;
    color: white;
}
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.primaryBtn {
    background: #2563eb;
    color: #fff;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

/* MODAL */
.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(15, 23, 42, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    backdrop-filter: blur(4px);
}

.modalContent {
    background: #fff;
    width: 95%;
    max-width: 1200px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 12px;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 12px;
    right: 16px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
